body {
	text-align: center;
	background-image: url('../img/gswBG.jpg');
	background-position: center;
	background-attachment: fixed;
}

.heading {
	font-size: 55px;
	padding: 20px;
	font-family: 'Monoton', cursive;
	word-spacing: 10px;
	letter-spacing: 2px;
	color: #FCF942;
	position: relative;
	text-shadow: 10px 10px 10px black;
	margin: 0;
}

.heading:hover {
	-webkit-transition: all .5s;
 	transition: all .5s;
 	color: black;
 	font-weight: 400;
	text-shadow: 5px 5px 10px #FCF942;
	background-image: url('../img/gswGroup.png');
	height: auto;
	background-position: center;
	background-attachment: cover;
}

.gsw {
	text-align: center;
	margin: 10px 0;
	border: 1px solid #D9D9D9;
	background-color: #DBDBD9;
}

.gsw h2 {
	font-size: 28px;
	padding: 20px;
	height: 120px;
	font-family: 'Luckiest Guy', cursive;
}

.gsw h4 {
	font-size: 28px;
	padding: 3px;
	font-family: 'Chathura', sans-serif;
	font-weight: 700;
}

.zoom {
	margin: 3px;
	box-shadow: 5px 5px 10px black;
}

.cd-add-to-cart {
	margin: 10px;
}