body {
	background-image: url('../img/gswBG.jpg');
	background-position: center;
	background-attachment: fixed;
}

.heading {
	font-size: 55px;
	padding: 20px;
	font-family: 'Monoton', cursive;
	word-spacing: 10px;
	letter-spacing: 2px;
	color: #FCF942;
	position: relative;
	text-shadow: 10px 10px 10px black;
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

/* nav */
/* CSS used here will be applied after bootstrap.css */
.navbar-fixed-left {
 	width: 160px;
  	position: fixed;
  	border-radius: 0;
  	height: 100%;
  	left: -140px;
  	background-image: url('../img/navbar.jpg');
  	background-position: center;
}

.navbar-fixed-left .navbar-nav > li {
 	float: none;  /* Cancel default li float: left */
 	width: 139px;
 	top: 100px;
 	font-size: 16px;
 	font-weight: 500;
 }

.navbar-brand > img {
	display: inline-block;
}

a > span {
	color: black;
	font-size: 1.2em;
}

a > span:hover {
	color: #fff;
	text-decoration: underline;
}

/* item container */
.gsw {
	text-align: center;
	margin: 10px 0;
	border: 1px solid #D9D9D9;
	background-color: #E8E8E8;
	border-radius: 15px;
	box-shadow: 5px 5px 5px yellow;
}

.gsw h2 {
	font-size: 24px;
	padding: 20px;
	height: 100px;
	font-family: 'Luckiest Guy', cursive;
}

.gsw h4 {
	font-size: 28px;
	padding: 3px;
	font-family: 'Chathura', sans-serif;
	font-weight: 700;
}

.zoom {
	margin: 3px;
	box-shadow: 5px 5px 10px black;
	border-radius: 15px;
}

.cd-add-to-cart {
	margin: 10px;
}